<mat-card class="collegium-card">
  <div>
    <div>
      <mat-form-field class="collegium-card-field">
        <textarea matInput placeholder="Название:" [(ngModel)]="currentCollegium.name"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="collegium-card-field">
        <div>
          <textarea rows="5" matInput placeholder="Доп. инфо"  [(ngModel)]="currentCollegium.other"></textarea>
        </div>
      </mat-form-field>
    </div>
  </div>
  <mat-card-actions class="collegium-card-actions" align="end">
    <button mat-icon-button color="primary" (click)="saveChanges()" [disabled]="!checkPreConditions()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

