<mat-card class="lawyer-card">
  <div>
    <div>
      <mat-form-field class="lawyer-card-field">
        <input matInput placeholder="ФИО:" [(ngModel)]="currentLawyer.fullName">
      </mat-form-field>
    </div>
    <div>
      <form>
        <mat-form-field class="lawyer-card-field">
          <input type="text" placeholder="Выберете коллегию" aria-label="Коллегия" matInput [formControl]="currentCollegiumId" [matAutocomplete]="auto" [errorStateMatcher]="matcher">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error>Необходимо выбрать коллегию</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div>
      <mat-form-field class="lawyer-card-field">
        <div>
          <mat-slide-toggle mat-input
            color="primary"
            [checked]="currentLawyer.out"
            (change)="onChangeOutSlider($event)">
          </mat-slide-toggle>
          <input class="hidden" matInput placeholder="Выбыл"  [(ngModel)]="currentLawyer.out">
        </div>
      </mat-form-field>
    </div>
  </div>
  <mat-card-actions class="lawyer-card-actions" align="end">
    <button mat-icon-button color="primary" (click)="saveChanges()" [disabled]="currentCollegiumId.hasError('min') || !checkPreConditions()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
