<div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Дата постановления:" [(ngModel)]="currentDecree.date">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Осужденный:" [(ngModel)]="currentDecree.accused">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Адвокат" [(ngModel)]="currentDecree.lawyer">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Сумма" [(ngModel)]="currentDecree.amount">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Дата оплаты:" [(ngModel)]="currentDecree.payDate">
    </mat-form-field>
  </div>
</div>
<button mat-icon-button color="primary" (click)="saveChanges()">
  <mat-icon>save</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="cancel()">
  <mat-icon>cancel</mat-icon>
</button>

