<p>
  Постановления
</p>
<div>
  <mat-slide-toggle
    color="primary"
    [checked]="isYearSelected"
    (change)="onChangeYearSlider($event)">
  </mat-slide-toggle>
  <mat-form-field>
    <mat-select placeholder="Выберете год" [(value)]="year" (change)="onChangeYear($event)" [disabled]="!isYearSelected">
      <mat-option value=null>--</mat-option>
      <mat-option *ngFor="let item of years" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-slide-toggle
  color="primary"
  [checked]="!isYearSelected"
  (change)="onChangePeriodSlider($event)">
</mat-slide-toggle>
<mat-form-field>
  <input matInput [matDatepicker]="startPicker" placeholder="Начало периода:"
         (dateChange)="changeStartDate($event)" [disabled]="isYearSelected" [max]="endPeriod">
  <mat-datepicker-toggle matSuffix [for]="startPicker" [disabled]="isYearSelected"></mat-datepicker-toggle>
  <mat-datepicker #startPicker [disabled]="isYearSelected"></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="endPicker" placeholder="Конец периода:"
         (dateChange)="changeEndDate($event)" [disabled]="isYearSelected" [min]="startPeriod">
  <mat-datepicker-toggle matSuffix [for]="endPicker" [disabled]="isYearSelected"></mat-datepicker-toggle>
  <mat-datepicker #endPicker [disabled]="isYearSelected"></mat-datepicker>
</mat-form-field>
<button mat-raised-button (click)="applyPeriod()" [disabled]="!startPeriod || !endPeriod || isYearSelected">Показать</button>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Адвокат">
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Дата постановления</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="accused">
      <mat-header-cell *matHeaderCellDef> Осужденный</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.accused}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lawyer">
      <mat-header-cell *matHeaderCellDef> Адвокат</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lawyer}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Сумма</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} руб.</mat-cell>
    </ng-container>
    <ng-container matColumnDef="payDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Дата выплаты</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.payDate}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editButton(element.id)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteButton(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
