.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.inline-flex {
  display:inline-flex;
  width: 100%;
}

.button-row {
    margin-bottom: 20px;
}

.add-button {
  margin: 5px 10px;
}
