<mat-card class="author-card">
  <div>
    <div>
      <mat-form-field class="author-card-field">
        <input matInput placeholder="ФИО:" [(ngModel)]="currentAuthor.name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="author-card-field">
        <div>
          <input matInput placeholder="Телефон"  [(ngModel)]="currentAuthor.phone">
        </div>
      </mat-form-field>
    </div>
  </div>
  <mat-card-actions class="author-card-actions" align="end">
    <button mat-icon-button color="primary" (click)="saveChanges()" [disabled]="!checkPreConditions()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
